<!-- 第三页 个人项目展示 -->
<section class="cover-page c-third">
    <a href="#/contact" class="bar right-bar resume-bar">留言</a>
    <div class="container">
        <div class="bar top-bar project-bar">作品集</div>
        <div class="row 50%">
            <div class="3u 2h 12u$(small)">
                <div class="color-title bk-deepblue">
                    JCarousel
                </div>
                <div class="color-discribe">
                    <p>JavaScript 轮播插件 可以多张、多屏随意轮播 无限轮播 兼容IE8+</p>
                </div>
            </div>
            <div class="3u 2h  12u$(small)">
                <div class="color-title bk-red">
                    JCarousel
                </div>
                <div class="color-discribe">
                    <p>JavaScript 轮播插件</p>
                </div>
            </div>
            <div class="3u 2h  12u$(small)">
                <div class="color-title bk-lightblue">
                    JCarousel
                </div>
                <div class="color-discribe">
                    <p>JavaScript 轮播插件</p>
                </div>
            </div>
            <div class="3u$ 2h 12u$(small)">
                <div class="row 0%">
                    <div class="6u 1h">
                        <div class="color-title">
                            JCarousel
                        </div>
                        <div class="color-discribe">
                            <p>轮播插件</p>
                        </div>
                    </div>
                    <div class="6u$ 1h">
                        <div class="color-title">
                            JCarousel
                        </div>
                        <div class="color-discribe">
                            <p>轮播插件</p>
                        </div>
                    </div>
                    <div class="6u 1h">
                        <div class="color-title">
                            JCarousel
                        </div>
                        <div class="color-discribe">
                            <p>轮播插件</p>
                        </div>
                    </div>
                    <div class="6u$ 1h">
                        <div class="color-title">
                            JCarousel
                        </div>
                        <div class="color-discribe">
                            <p>轮播插件</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="3u 2h 12u$(small)">
                <div class="color-title">
                    JCarousel
                </div>
                <div class="color-discribe">
                    <p>JavaScript 轮播插件</p>
                </div>
            </div>
            <div class="3u 2h  12u$(small)">
                <div class="color-title bk-pink">
                    JCarousel
                </div>
                <div class="color-discribe">
                    <p>JavaScript 轮播插件</p>
                </div>
            </div>
            <div class="3u$ 2h 12u$(small)">
                <div class="color-title bk-deepblue">
                    JCarousel
                </div>
                <div class="color-discribe">
                    <p>JavaScript 轮播插件</p>
                </div>
            </div>
        </div>
    </div>
</section>