<!-- 第二页 主页 背景视频 -->
<section class="cover-page c-second">
    <video id="bk-video" width="100%" autoplay loop src="http://7mnmwm.com1.z0.glb.clouddn.com/Home_Page_Video.webm" cover>
    </video>
    <div class="bk-left">
        <div class="discrib">
            <img src="img/avatar-1.jpg" alt="头像">
            <h4>我是陈加贝</h4>
            <p>94后前端工程师</p>
            <p>我们不仅是码农，我们更是美的搬运工</p>
        </div>
    </div> 
    <div class="bk-right">
        <div class="discrib">
            <img src="img/avatar-2.jpg" alt="头像">
            <h4>Projects</h4>
            <p>这里是我折腾的一些小玩意儿</p>
            <p>欢迎来GitHub follow me~~~</p>
        </div>
    </div>
    <div vg-go="#/blog/all" show-detail="left" class="round r1">
        <p>Blog</p>
    </div>
    <div vg-go="#/project" show-detail="right" class="round r2">
        <p>Projects</p>
    </div>
    <div class="container">
    </div>
</section>