<!-- 博客 -->
<section class="c-blog cover-page {{themes.themeClass}}">
    <div class="header">
        <progress-tool class="top-progress" percent="percent"></progress-tool>
        <div class="header-background bg-enter"></div>
        <div class="header-background bg-leave"></div>
        <div class="container" scroll-fade>
            <h1 change-font>JailBreak</h1>
            <p class="sub-title">飞翔在追寻理想的道路上</p>
        </div>
        <div class="container_fuild">
            <div class="theme-type">
                <p>
                    主题： 
                    <theme-switcher themes="themes"> 
                        <switcher ng-repeat="theme in themes" tm="theme"></switcher>
                    </theme-switcher>
                </p>
            </div>
            </div>
        </div>
    </div>
    <div class="blog container">
        <div class="row">
            <div class="col-sm-3">
                <div class="type-ct">
                    <div class="type-head">
                        <h2>文章分类</h2>
                        <p>Article Categories</p>
                    </div>
                    <ul class="types" >
                        <li class="{{'all' == blogtype? 'active':''}}">
                            <a  ng-href="#/blog/all">ALL</a>
                        </li>
                        <li class="{{type == blogtype? 'active':''}}" ng-repeat="type in listType">
                            <a  ng-href="#/blog/{{type}}" ng-bind="type"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="position: relative">
                <div class="blog-ct col-sm-9" ui-view>
                </div>
            </div>
        </div>
    </div>
</section>