<!-- 第二页 主页 背景视频 -->
<section class="cover-page c-second">
    <video id="bk-video" lazyload="video/Home_Page_Video.webm" width="100%" cover autoplay loop>
        <source src="video/Home_Page_Video.webm" type="video/mp4">
    </video>
    <div class="bk-left"></div>
    <div class="bk-control">
        <div drag class="bk-control-bar"></div>
    </div>
    <div class="bk-right"></div>
    <div class="container">
        <div class="bar top-bar name-bar">&lt;JailBreak/&gt;</div>
        <div class="bar left-bar resume-bar">简历</div>
        <div class="bar right-bar project-bar">作品集</div>
        <h2 id="intr1"><span>狂欢</span>是一群人的孤单</h2>
        <h2 id="intr2"><span>JailBreak</span> —— 在变得更强的路上，一路狂欢</h2>
        <!-- <div id="home-chains">
            <div class="avatar">
                <img src="img/avatar.jpg" height="150" width="150" alt="avatar">
            </div>
        
            <div id="home-chain-left"></div>
            <div id="home-chain-right"></div>
        </div> -->
    </div>
</section>