<!-- 第一页 简历 -->
<secction class="cover-page c-first">
    <nav class="c-first-nav">
        <div class="container">
            <h1>简历</h1>
        </div>
    </nav>
    <div class="c-first-profile">     
        <div class="container">
            <h2> + ABOUT ME </h2>
            <p>我是陈加贝 一名20岁的在校大学生</p>
            <p>就读于湖南科技大学计算机与工程学院信息安全专业 2012级</p>
            <div class="detail row uniform">
                <div class="6u 12u$(small)">
                    <div class="avatar">
                    </div>
                </div>
                <ul class="detail-list 6u$ 12u$(small)">
                    <li><span class="d-l-h">NAME</span><span>陈加贝</span></li>
                    <li><span class="d-l-h">EMAIL</span><span>admin@vgee.cn</span></li>
                    <li><span class="d-l-h">QQ</span><span></span>610164407</li>
                    <li><span class="d-l-h">WEBSITE</span><span><a href="http://vgee.cn" target="_blank">VGEE.cn</a></span></li>
                    <li><span class="d-l-h">INTREST</span>web 前端</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="c-first-skill">
        <div class="container">
            <h2>+ 工作经历</h2>
            <p>A+课堂派 前端工程师 实习</p>
        </div>
    </div>
    <div class="c-first-more">
        <div class="container">
            <h2>+ MORE</h2>
        </div>
    </div>
    <a href="#" class="bar right-bar name-bar">JailBreak</a>
</secction>