<!-- 博客 -->
<section class="c-blog cover-page" ng-controller="blogList">
    <div class="header">
        <div class="container">
            <h1 change-font>JailBreak</h1>
            <p>飞翔在追寻理想的道路上</p>
        </div>
    </div>
    <div class="blog container">
        <div class="row">
            <div class="col-sm-3">
                <div class="type-ct">
                    <div class="type-head">
                        <h2>文章分类</h2>
                        <p>Article Categories</p>
                    </div>
                    <ul class="types" >
                        <li class="{{'all' == routeType? 'active':''}}">
                            <a ng-click="changeType($event, 'all')" ng-href="#/blog">ALL</a>
                        </li>
                        <li class="{{type == routeType? 'active':''}}" ng-repeat="type in listType">
                            <a ng-click="changeType($event, type)" ng-href="#/blog/{{type}}" ng-bind="type"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="blog-cel" ng-repeat="list in blogList | blogListType: type ">
                    <h2><a ng-href="#/blog/post/{{list.url}}">{{list.title}}</a></h2>
                    <div class="shortcut"></div>
                    <p class="intro">{{list.disc}}</p>
                    <div class="time">
                        <div class="day">{{list.date.day}}</div>
                        <div class="month">{{list.date.month}}</div>
                    </div>
                    <div class="btn-ct">
                    <div class="type-label"><a ng-href="#/blog/{{list.type}}">{{list.type}}</a></div>
                        <div class="type-label"><a href="#/blog">JavaScript</a></div>
                        <a ng-href="#/blog/post/{{list.url}}">
                            <button class="btn btn-sm btn-primary">
                                阅读全文
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>