<!-- 第四页 留言与社交 -->
<section class="cover-page c-fourth">
    <div class="container">
        <div class="row">
            <div class="6u">
                <h2>+ CONTACT</h2>
                <p>你可以发送Email到admin@vgee.cn联系我或者在下方留言与我交流</p>
                <br>
                <form action="">
                    <label for="name">name</label>
                    <input type="text" name="name" id="name">
                    <label for="email">Email</label>
                    <input type="text" id="email">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="10"></textarea>
                </form>                
            </div>
        </div>
    </div>
</section>