body {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a {
    color: darkturquoise;
}
p {
    font-size: 14px;
    margin: .2em;
}
.big-banner {
    width: 400%;
    height: 100%;
    position: absolute;
}
.cover-page {
    position: absolute;
    width: 25%;
    height: 100%;
    overflow: hidden;
}
.c-second .container {
    min-width: 1140px;
}
.c-second {
    background-color: #F7F7EF;
    left: 25%;
}
.bar {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    padding: 12px 12px;
    cursor: pointer;
}
.top-bar {   
    top: 0;
}
.left-bar {
    left: 0;
    top: 20%;
    background: url(../img/arrow-left-medium.png) no-repeat 5% center;
    padding-left: 35px;
    
}
.right-bar {
    right: 0;
    bottom: 20%;
    background: url(../img/arrow-right-medium.png) no-repeat 92% center;
    padding-right: 35px;
}
.resume-bar {
    color: #F65354;
    background-color: #434343;
}
.name-bar {
    font-family: cursive;
    background-color: #49BF9D;
    color: white;    
}
.project-bar {
    color: #434343;
    background-color: #5FC59B
}
#home-chains {
    position: absolute;
    width: 1000px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -300px;
}

#home-chain-left {
    position: absolute;
    top: 100%;
    width: 912px;
    height: 675px;
    margin-top: -200px;
    margin-left: -620px;
    background-image: url(../img/chain_left.png);
}

#home-chain-right {
    position: absolute;
    right: -619px;
    width: 941px;
    height: 675px;
    top: -470px;
    background-image: url(../img/chain_right.png);
}

#intr1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: white;
    margin-left: -450px;
    margin-top: -210px;
}
#intr1 > span {
    color: #F65354;
}
#intr2 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    margin-left: -42px;
    margin-top: -75px;
}
#intr2 > span {
    font-family: cursive;
}
#bk-video {
    position: relative;
}
.bk-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(52, 58, 60);
    opacity: .4;
}
.bk-right {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 98, 77);
    opacity: .8;
}
.bk-control {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 0px;
    border: solid 1px black;
}
.bk-control > .bk-control-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: rgb(104, 174, 74);
    color: white;
    z-index: 2;
    cursor: col-resize;
}

.bk-control > .bk-control-bar:before {
    content: "<";
    font-weight: bold;
    font-size: 27px;
    font-family: sans-serif;
    position: absolute;
    top: 5px;
    left: 2px;
}
.bk-control > .bk-control-bar:after {
    content: ">";
    font-weight: bold;
    font-size: 27px;
    font-family: sans-serif;
    position: absolute;
    top: 5px;
    right: 2px;
}
.c-first .container{
    padding: 0 4em;
}
.c-first-nav {
    background-color: #2C3C51;
}
.c-first-nav  h1 {
    color: #0CA2BA;
    margin: 0;
    padding: 10px;
}
.c-first-profile {
    padding: 30px 0;
    background-color: #0CA2BA;
    color: white;
    overflow: auto;
}
.avatar {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 125px;
    background-color: white;
    background-image: url(../img/avatar.jpg);
}
.c-first-profile .detail {
    padding: 30px;
}
.detail-list {
    list-style: none;
}
.detail-list li {
    border-bottom: solid 1px white;
    padding: 10px;
}
.detail-list .d-l-h {
    display: inline-block;
    width: 200px;
}

.c-first-skill {
    color: #5C636B;
    background-color: #D7DBDB;
    padding: 30px 0;
}
.c-first-more {
    background-color: #15A286;
    padding: 30px 0;
    color: white;
}